@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway";
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

header {
  border-bottom: 1px solid #ddd;
  height:150px;
  
 
}

nav {
  padding: .6rem 0;
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  height:100px;
}

.logo {
  height: 3rem;
  margin-right: auto;
}

.nav-list {
  display: flex;
  gap: 1rem;
}

.nav-list a {
  display: flex;
  align-items: center;
}

.list-items {
  font-weight: 600;
  color: #808080;
}

.nav-btn {
  background: #3785fb;
  padding: .7rem 1rem;
  outline: none;
  border: none;
  border-radius: .3rem;
  cursor: pointer;
  font-family: 'Raleway';
  font-weight: 600;
  color: #1b437e;
}

.welcomebox{
  width:247px;
  height:54px;
  top:90px;
  left:62px;
  display:block;
  gap:8px;
  margin-right: auto;
  position:absolute;

}

.welcome{
  color:#3785fb;
  font-weight: bolder;
}

.loghead{
  text-align:center;
}


.login{
    background-image: url(/Users/hp/Downloads/loginpic.png);
    width:100%;
    height:890px;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding:120px 220px;
}

.fill{
    width:860px;
    height:656px;
    padding:40px 200px 40px 200px;
    border-radius:8px;
    top:369.88px;
    left:100px;
    gap:16px;
    background-color: #fff;
    display:flex;
    flex-direction:column;
    
    
}
.log{
  border-radius:30px;
  width:429px;
  height:458px;
  display: flex;
  flex-direction: column;
  gap:5px;
  color:#808080
}

.form{
  width:420px;
  height:78px;
  top:134px;
  left:220px;
  gap:8px;

}

.email{
  width:420px;
  height:51px;
  padding:16px;
  border-radius: 30px;
  border-style: solid;
  border-color: #000;
  border-width:1px ;
  gap:8px;
  
}

.password{
  width:420px;
  height:51px;
  padding:16px;
  border-radius: 30px;
  border-style: solid;
  border-color: #000;
  border-width:1px ;
  gap:10px;
  
}

.logbtn{
  border-radius:30px;
  width:400px;
  height:51px;
  gap:10px;
  padding:16px 20px;
  background-color:#3785fb;
  border-width:0px;
}

.btntext{
  color:#000;
  
}

.underbox{
  width:104px;
  height:19px;
  gap:10px;
  top:295px;
  left:378px;
  vertical-align:middle;
  float:right;
  align-self: center;


}
.undertxt{
  color:#000;
  text-align:center;
  line-height: 19.2px;
  
  
}

.logoption{
  width:414px;
  height:63px;
  top:330px;
  left:223px;
  gap:8px;
  display:flex;
  flex-direction: row;
}

.googlebox{
width: 203px;
height: 63px;
padding: 7px 0px 6px 0px;
border-radius: 10px;
border: 1px;
border-style: solid;
align-items: center;
justify-content: center;
display:flex;

}

.google{
  width:50px;
  height: 50px;
  top:7px;
  left:76px;
  align-self: center;
  
}

.FBbox{
  width: 203px;
height: 63px;
padding: 7px 0px 6px 0px;
border-radius: 10px;
border: 1px;
border-style: solid;
justify-content: center;
display:flex;
}

.facebook{
  width:50px;
  height: 50px;
  top:7px;
  left:77px;
  align-self: center;
}

.termsbox{
  width:429px;
  height:54px;
  gap:8px;
  top:409;
  left:215.5px;

}

.terms{
  width:429px;
  height:17px;
  align-self: center;
  
  line-height: 16.8px;
  color: #000;
 font-size:14px;
 text-align: center;
 font: weight 500px;
}



.red{
  color:red
}
/* Footer styling */

footer {
    background: #fff;
  }
  
  .footer-container {
    width: 90%;
    margin: 0 auto;
    height:60px;
    padding:16px 20px
  }
  
  
  
  .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    color:#000;
    
    top: 1218px;
    left: 626.92px

    
  }
  
  