@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway";
  background: #f8f8f8;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  font-family: 'Raleway';
}

header {
  border-bottom: 1px solid #ddd;
}

nav {
  padding: .6rem 0;
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.logo {
  height: 3rem;
  margin-right: auto;
}

.nav-list {
  display: flex;
  gap: 1rem;
}

.nav-list a {
  display: flex;
  align-items: center;
}

.list-items {
  font-weight: 600;
  color: #808080;
}

.nav-btn {
  background: #3785fb;
  padding: .7rem 1rem;
  outline: none;
  border: none;
  border-radius: .3rem;
  cursor: pointer;
  font-family: 'Raleway';
  font-weight: 600;
  color: #1b437e;
}

/* About Us */

.about-us {
  text-align: center;
  background: rgba(0, 0, 0, 0.8)url("../assets/bg.png");
  background-blend-mode: darken;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 8rem 0;
  color: #fff;
  font-size: 2rem;
}

.about-container {
  background: #d7d7d7;
  margin-top: 2rem;
}

.about-main {
  width: 90%;
  margin: 0 auto;
  display: flex;
  gap: 3rem;
  padding: 3rem 0;
}

.text-section {
  width: 50%;
}

.text-section h3 {
  font-size: 2rem;
  padding-bottom: 1rem;
}

.text-section p {
  text-align: justify;
  font-size: .9rem;
  font-weight: 500;
  line-height: 1.2rem;
  padding-bottom: 2rem;
}

.about-btn {
  padding: .8rem 1.5rem;
  font-size: .8rem;
  font-weight: 600;
  border: none;
  outline: none;
  border-radius: .3rem;
  background: #3785fb;
}

.about-img {
  width: 50%;
  height: 35rem;
}

.about-img img {
  border-radius: .5rem;
  width: 100%;
  height: 100%;
}

.mission-statement {
  width: 90%;
  margin: 6rem auto;
  display: flex;
  gap: 1rem;
}

.mission,
.vision {
  width: 50%;
  border: 1px solid #ddd;
  border-radius: .8rem;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.mission h3,
.vision h3 {
  padding-bottom: 1rem;
  font-style: italic;
}

.mission p,
.vision p {
  font-size: .8rem;
  font-weight: 600;
  line-height: 1.2rem;
  padding-bottom: 2rem;
}

.testimonial-container {
  margin-bottom: .3rem;
  background-image: linear-gradient(to bottom, #a5cbfe, #b7d5fe, #c8deff, #d8e8ff, #e9f2ff);
}

.testimonial-header {
  text-align: center;
  font-weight: 700;
  font-size: 2.2rem;
  padding: 2rem 0 1rem 0;
  margin: 1.5rem 0;
  color: #000;
}

/*About End */

/* Properties Start */

.search-section {
  width: 90%;
  margin: 6rem auto 2rem auto;
}

.search-input {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

.search-input input {
  width: 100%;
  border: 1px solid #bdbcbc;
  border-radius: .6rem;
}

.search-input input::placeholder {
  text-align: center;
}

.header-div {
  width: 90%;
  display: flex;
  align-items: baseline;
  margin: 0 auto;
}

.property-header {
  margin-bottom: 1rem;
  margin-right: auto;
  font-size: 2.2rem;
}

.see-all {
  display: none;
}

.property-text {
  width: 90%;
  margin: 2rem auto .5rem auto;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  color: #5e5b5b;
}

.container-main {
  background: #d5d9e8;
  padding: 1.5rem 0 0 0;
}

.card-container {
  width: 90%;
  margin: 1.5rem auto 0 auto;
  padding-bottom: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(22.5rem, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 4rem;
}

.card {
  background: #fff;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.img-section {
  position: relative;
}

.img-section img {
  width: 100%;
  height: 17rem;
  border-radius: 8px 8px 0 0;
}

.floating-icon {
  position: absolute;
  top: .8rem;
  left: .8rem;
  background: #f3b01e;
  padding: .5rem 1.2rem;
  font-size: .8rem;
  font-weight: 600;
  color: #fff;
  border-radius: .2rem;
}

.property-details {
  padding: 1.7rem 1rem 1rem 1rem;
}

.property-name {
  font-size: 1.2rem;
  font-weight: 800;
  color: #0e72ff;
}

.price-text {
  display: flex;
  align-items: center;
  margin: .8rem 0 .2rem 0;
}

.price {
  margin-right: auto;
  font-weight: 500;
  color: #0e72ff;
}

.like-icon {
  height: 1.2rem;
}

.property-price {
  color: #10cc2e;
  font-weight: 800;
  font-size: 1.2rem;
  padding-bottom: .4rem;
}

.property-size {
  color: #828080;
  font-weight: 800;
  font-size: 1rem;
  padding-bottom: .4rem;
}

.card-btn {
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
  background: #0e72ff;
  border: none;
  outline: none;
  padding: .5rem;
  margin: .5rem 0 0 0;
  border-radius: .2rem;
}

.carousel-header {
  font-size: 2.2rem;
  margin-bottom: 1rem;
}

.carousel-section,
.pd-container {
  width: 90%;
  margin: 2rem auto 0 auto;
  padding: 2rem 0;
}

.left-section {
  width: 100%;
}

.on-sale {
  display: flex;
  align-items: center;
  margin-bottom: .8rem;
}

.on-sale p {
  margin-right: auto;
  font-size: 1.2rem;
  font-weight: 700;
}

.on-sale span {
  font-size: 1.2rem;
  font-weight: 700;
  color: #e14624;
}

.location {
  display: flex;
  align-items: center;
  gap: .2rem;
  margin-bottom: 1.5rem
}

.location img {
  height: 1.1rem;
}

.location p {
  font-size: 1.1rem;
  font-weight: 500;
}

.main-display {
  height: 30rem;
}

.main-display img {
  width: 100%;
  height: 100%;
}

.mini-display {
  display: flex;
  gap: 1rem;
  margin: .5rem 0 0 0;
}

.mini-display img {
  width: 25%;
}

.description-container {
  width: 100%;
  margin-bottom: 2rem;
  display: flex;
  gap: 1.5rem;
}

.description {
  width: 50%;
  background: #fff;
  border-radius: 1rem;
}

.map-container {
  width: 50%;
  height: 27rem;
  border-radius: 1.2rem;
}

.details {
  padding: 1rem;
}

iframe {
  width: 100%;
  height: 100%;
  border-radius: 1.2rem;
}

.interest-btn {
  width: 100%;
  text-align: center;
  padding: 2rem 0;
}

.interest-btn button {
  background: #3785fb;
  border: none;
  border-radius: .5rem;
  outline: none;
  color: #fff;
  font-weight: 700;
  font-size: 1.2rem;
  padding: 1rem 8rem;
  transition: all ease-in-out .2s;
}

.interest-btn button:hover {
  background: #1967d2;
}

.pd-container {
  margin-bottom: 2rem;
}

/* Properties End */