@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway";
  background: #f8f8f8;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  font-family: 'Raleway';
}

header {
  border-bottom: 1px solid #ddd;
}

nav {
  padding: .6rem 0;
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.logo {
  height: 3rem;
  margin-right: auto;
}

.nav-list {
  display: flex;
  gap: 1rem;
}

.nav-list a {
  display: flex;
  align-items: center;
}

.list-items {
  font-weight: 600;
  color: #808080;
}

.nav-btn {
  background: #3785fb;
  padding: .7rem 1rem;
  outline: none;
  border: none;
  border-radius: .3rem;
  cursor: pointer;
  font-family: 'Raleway';
  font-weight: 600;
  color: #1b437e;
}

/* Footer styling */

footer {
  background: #646262;
}

.footer-container {
  width: 90%;
  margin: 0 auto;
}

.social-section {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding: 2rem 0;
  border-bottom: 1px solid #9e9d9d;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-container {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem;
}

.social {
  background: #fff;
  padding: .3rem;
  border-radius: .4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icons {
  height: 1.5rem; 
}

.footer-bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 5rem 0;
}

.address-container,
.footer-links a,
form p{
  font-size: .9rem;
  font-weight: 600;
  color: #ddd;
}

.address-container p {
  padding-bottom: .6rem;
}

.address {
  width: 90%;
}

.footer-links-container {
  display: flex;
  gap: 4rem;
}

.footer-links a {
  display: block;
  padding-bottom: .6rem;
}

.footer-links a:hover {
  text-decoration: underline;
}

form p {
  padding-bottom: .2rem;
}

input {
  width: 70%;
  display: block;
  padding: .8rem 1rem;
  margin-bottom: .5rem;
  border-radius: .3rem;
  border: none;
  outline: none;
}

.submit-btn {
  padding: .5rem 1.5rem;
  border: none;
  border-radius: .3rem;
  font-size: .8rem;
  font-weight: 600;
  font-family: 'Raleway';
  background: #3785fb;
  color: #1b437e;
  cursor: pointer;
}

input::placeholder {
  font-family: 'Raleway';
  font-size: .8rem;
  font-weight: 600;
}

.search-section {
  width: 85%;
  margin: 6rem auto 2rem auto;
}

.search-input {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

.search-input input {
  width: 100%;
  border: 1px solid #bdbcbc;
}

.search-btn-container {
  display: flex;
  margin: 1.5rem 0;
}

.search-btn {
  width: 25%;
  margin: 0 auto;
  border: none;
  outline: none;
  padding: .9rem 0;
  border-radius: .3rem;
  background: #353333;
  color: #fff;
  font-weight: 600;
  font-size: 1.1rem;
} */

.header-div {
  width: 90%;
  display: flex;
  align-items: baseline;
  margin: 0 auto;
}

.property-header {
  margin-bottom: 1rem;
  margin-right: auto;
  font-size: 2.2rem;
}

.see-all {
  display: none;
}

.property-text {
  width: 90%;
  margin: 2rem auto .5rem auto;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  color: #5e5b5b;
}

.container-main {
  background: #d5d9e8;
  padding: 1.5rem 0 0 0;
}

.card-container {
  width: 90%;
  margin: 1.5rem auto 0 auto;
  padding-bottom: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(22.5rem, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 4rem;
}

.card {
  background: #fff;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.img-section {
  position: relative;
}

.img-section img {
  width: 100%;
  height: 17rem;
  border-radius: 8px 8px 0 0;
}

.floating-icon {
  position: absolute;
  top: .8rem;
  left: .8rem;
  background: #f3b01e;
  padding: .5rem 1.2rem;
  font-size: .8rem;
  font-weight: 600;
  color: #fff;
  border-radius: .2rem;
}

.property-details {
  padding: 1.7rem 1rem 1rem 1rem;
}

.property-name {
  font-size: 1.2rem;
  font-weight: 800;
  color: #0e72ff;
}

.price-text {
  display: flex;
  align-items: center;
  margin: .8rem 0 .2rem 0;
}

.price {
  margin-right: auto;
  font-weight: 500;
  color: #0e72ff;
}

.like-icon {
  height: 1.2rem;
}

.property-price {
  color: #10cc2e;
  font-weight: 800;
  font-size: 1.2rem;
  padding-bottom: .4rem;
}

.property-size {
  color: #828080;
  font-weight: 800;
  font-size: 1rem;
  padding-bottom: .4rem;
}

.card-btn {
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
  background: #0e72ff;
  border: none;
  outline: none;
  padding: .5rem;
  margin: .5rem 0 0 0;
  border-radius: .2rem;
}

.carousel-header {
  font-size: 2.2rem;
  margin-bottom: 1rem;
}

.carousel-section,
.pd-container {
  width: 90%;
  margin: 2rem auto 0 auto;
  padding: 2rem 0;
}

.left-section {
  width: 100%;
}

.on-sale {
  display: flex;
  align-items: center;
  margin-bottom: .8rem;
}

.on-sale p {
  margin-right: auto;
  font-size: 1.2rem;
  font-weight: 700;
}

.on-sale span {
  font-size: 1.2rem;
  font-weight: 700;
  color: #e14624;
}

.location {
  display: flex;
  align-items: center;
  gap: .2rem;
  margin-bottom: 1.5rem
}

.location img {
  height: 1.1rem;
}

.location p {
  font-size: 1.1rem;
  font-weight: 500;
}

.main-display img {
  width: 100%;
}

.mini-display {
  display: flex;
  gap: 1rem;
  margin: .5rem 0 0 0;
}

.interest-btn button {
  background: #3785fb;
  border: none;
  border-radius: .5rem;
  outline: none;
  color: #fff;
  font-weight: 700;
  font-size: 1.2rem;
  padding: 1rem 8rem;
  transition: all ease-in-out .2s;
}

.interest-btn button:hover {
  background: #1967d2;
}

.description-container {
  width: 60%;
  /* margin-bottom: 2rem; */
  
.pd-container {
  margin-bottom: 2rem;
}

.toggle-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.item1,
.item2,
.item3 {
  border: 1px solid #bdbcbc;
  border-top: none;
  border-left: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  padding: .8rem 0;
  font-weight: 800;
  background: #ddd7d7;
  cursor: pointer;
}

.item3 {
  border-right: none;
}

.item1 img,
.item2 img,
.item3 img {
  height: 1.5rem;
}

.description-container {
  border: 1px solid #bdbcbc;
}

.property-description {
  color: #686565;
  background: #fff;
  height: 30rem;
}

.details {
  padding: 1.5rem 1rem 1rem 1.5rem;
  
.active {
  background: #fff;
  color: #d10000;
  border-bottom: none;
}

.title {
  font-size: 1.2rem;
  font-weight: 800;
  color: #000;
  margin-bottom: 1rem;
}

.flat-features {
  margin-bottom: 1.5rem;
}

.flat-features p,
.flat-features ul li,
.flat-accessories p,
.flat-accessories ul li {
  line-height: 1.4rem;
  font-weight: 600;
}

.flat-price {
  margin-top: 1.5rem;
}

.flat-price p {
  margin: 1rem 0;
  font-weight: 600;
}

iframe {
  width: 100%;
  height: 30rem;
}

.active {
  background: #fff;
  color: #d10000;
  border-bottom: none;
}

.block {
  display: none;
}

.show-property {
  margin-top: 1rem;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  background: #d9d9d9;
}

.show-property p {
  font-size: 1.2rem;
  font-weight: 500;
  padding-bottom: .5rem;
}

.show-btn {
  background: #0e72ff;
  padding: .7rem 2.5rem;
  font-size: .8rem;
  color: #fff;
  font-weight: 600;
  border: none;
  outline: none;
  border-radius: .2rem;
}

.pd-container {
  margin-bottom: 2rem;
}

/* About Us Page */

.about-us {
  text-align: center;
  background: rgba(0, 0, 0, 0.8)url("../assets/bg.png");
  background-blend-mode: darken;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 8rem 0;
  color: #fff;
  font-size: 2rem;
}

.about-container {
  background: #d7d7d7;
  margin-top: 2rem;
}

.about-main {
  width: 90%;
  margin: 0 auto;
  display: flex;
  gap: 3rem;
  padding: 3rem 0;
}

.text-section {
  width: 50%;
}

.text-section h3 {
  font-size: 2rem;
  padding-bottom: 1rem;
}

.text-section p {
  text-align: justify;
  font-size: .9rem;
  font-weight: 500;
  line-height: 1.2rem;
  padding-bottom: 2rem;
}

.about-btn {
  padding: .8rem 1.5rem;
  font-size: .8rem;
  font-weight: 600;
  border: none;
  outline: none;
  border-radius: .3rem;
  background: #3785fb;
}

.about-img {
  width: 50%;
  height: 35rem;
}

.about-img img {
  border-radius: .5rem;
  width: 100%;
  height: 100%;
}

.mission-statement {
  width: 90%;
  margin: 6rem auto;
  display: flex;
  gap: 1rem;
}

.mission,
.vision {
  width: 50%;
  border: 1px solid #ddd;
  border-radius: .8rem;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.mission h3,
.vision h3 {
  padding-bottom: 1rem;
  font-style: italic;
}

.mission p,
.vision p {
  font-size: .8rem;
  font-weight: 600;
  line-height: 1.2rem;
  padding-bottom: 2rem;
}

.testimonial-container {
  margin-bottom: .3rem;
}

.testimonial-header {
  text-align: center;
  font-weight: 700;
  margin: 1.5rem 0;
  color: #5e5b5b;
}

/* Responsive Section */

@media (max-width: 720px) {
  .about-body {
    position: relative;
  }
  .about-header {
    position: absolute;
  }
  .about-container {
    margin-top: .5rem;
    background: #fff;
  }
  .about-us {
    padding: 10rem 0;
  }
  .about-main {
    flex-direction: column;
    width: 100%;
    padding: 0;
  }
  .text-section {
    width: 100%;
    padding: 1rem 2rem;
    background: #d7d7d7;
  }
  .about-btn {
    padding: .8rem 4.5rem;
  }
  .about-img {
    padding: 0 2rem;
    width: 100%;
    height: 30rem;
  }
  .about-img img {
    border-radius: 1.2rem;
  }

  .footer-container {
    display: flex;
    flex-direction: column-reverse;
    width: 95%;
  }
  .footer-bottom {
    grid-template-columns: repeat(2, 1fr);
  }
  footer form {
    margin-top: 2rem;
  }
}

@media (max-width: 520px) {
  .text-section {
    padding: 1rem;
  }
  .about-img {
    padding: 0 1rem;
  }
  .mission-statement {
    flex-direction: column;
  }
  .mission, 
  .vision {
    width: 100%;
  }
  .vision {
    padding-bottom: 3rem;
  }
  .footer-bottom {
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 1rem;
  }
  .footer-logo {
    display: none;
  }
  .social-section {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: .2rem;
  }
  .social-container {
    justify-content: center;
    padding-bottom: 3rem;
    gap: 1rem;
  }
  .social {
    padding: .5rem;
  }
  .social-icons {
    height: 2rem;
  }
  input {
    width: 100%;
    padding: 1rem;
  }
  .submit-btn {
    padding: .7rem 4rem;
  }
  .address-container {
    width: calc(100% - 4rem);
  }
}

/* About Us Page */
  
/* About Us Page */

/* FAQ */
.faq {
  background: #fff;
}

.faq-section {
  width: 60%;
  margin: 0 auto 4rem auto;
}

.faq-header {
  text-align: center;
  font-weight: 700;
  margin: 4rem 0 2rem 0;
}

.accordion-button,
.accordion-header,
.accordion-item,
.accordion {
  border: none;
}

.accordion-header {
  border: .18rem solid #f6f8fa;
  border-radius: .5rem;
  padding: .2rem;
}

.accordion-item {
  margin-bottom: .5rem !important;
}

.accordion-button:focus {
  box-shadow: none !important;
}

.accordion-button {
  padding: 1.2rem 1.25rem;
  background: #fff !important;
  font-weight: 600;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='16' cy='16' r='16' fill='%233785FB'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.85225 13.2273C9.07192 13.0076 9.42808 13.0076 9.64775 13.2273L16 19.5795L22.3523 13.2273C22.5719 13.0076 22.9281 13.0076 23.1477 13.2273C23.3674 13.4469 23.3674 13.8031 23.1477 14.0227L16.3977 20.7727C16.1781 20.9924 15.8219 20.9924 15.6023 20.7727L8.85225 14.0227C8.63258 13.8031 8.63258 13.4469 8.85225 13.2273Z' fill='black'/%3E%3C/svg%3E") !important;
}

.accordion-button::after {
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='16' cy='16' r='16' fill='%233785FB'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.85225 13.2273C9.07192 13.0076 9.42808 13.0076 9.64775 13.2273L16 19.5795L22.3523 13.2273C22.5719 13.0076 22.9281 13.0076 23.1477 13.2273C23.3674 13.4469 23.3674 13.8031 23.1477 14.0227L16.3977 20.7727C16.1781 20.9924 15.8219 20.9924 15.6023 20.7727L8.85225 14.0227C8.63258 13.8031 8.63258 13.4469 8.85225 13.2273Z' fill='black'/%3E%3C/svg%3E") !important;
}

.ffb {
  padding: .55rem 1.5rem !important;
}

.accordion-body {
  line-height: 1.4rem;
}

@media (max-width: 740px){
  .faq-section {
    width: 80%;
    margin-bottom: 4rem;
  }
}

@media (max-width: 520px) {
  .faq-section {
    width: 90%;
  }
}

/* End FAQ */
  
/* Responsive - Properties */

@media (min-width: 640px) and (max-width: 760px) {
  body {
    background: #fff;
  }
  .search-section {
    display: none;
  }
  .property-section {
    width: 95%;
    margin: 2rem auto 0 auto;
  }
  .see-all {
    display: inline;
    text-decoration: underline;
    font-weight: 600;
  }
  .header-div {
    display: flex;
    align-items: center;
  }
  .container-main {
    background: #fff;
  }

  .carousel-section {
    margin-top: 1rem;
    background: #d2d8e8;
    width: 100%;
  }
  .left-section {
    width: 90%;
    margin: 0 auto  ;
  }
  .mini-display img:nth-child(4){
    display: none;
  }
  .mini-display img {
    width: calc(100% - 5rem);
  }
  .description-container {
    flex-direction: column;
  }
  .pd-container {
    margin-top: 0;
  }
  .description {
    width: 100%;
  }
  .title {
    font-size: 1.5rem;
  }
  .details {
    padding: 1rem 0;
  }
  .map-container {
    width: 100%;
  }
}

@media (max-width: 639px) and (min-width: 480px) {
  body {
    background: #fff;
  }
  .search-section {
    display: none;
  }
  .property-section {
    width: 95%;
    margin: 2rem auto 0 auto;
  }
  .property-header {
    font-size: 1.5rem;
  }
  .see-all {
    display: inline;
    text-decoration: underline;
    font-weight: 600;
  }
  .property-text {
    padding-bottom: 2rem;
  }
  .header-div {
    display: flex;
    align-items: center;
  }
  .container-main {
    background: #fff;
  }

  .carousel-section {
    margin-top: 1rem;
    background: #d2d8e8;
    width: 100%;
  }
  .pd-container {
    width: 95%;
  }
  .left-section {
    width: 95%;
    margin: 0 auto  ;
  }
  .mini-display img:nth-child(4),
  .mini-display img:nth-child(3){
    display: none;
  }
  .mini-display img {
    width: calc(100% - 5rem);
    height: 8rem;
  }
  .description-container {
    flex-direction: column;
  }
  .pd-container {
    margin-top: 0;
  }
  .description {
    width: 100%;
  }
  .title {
    font-size: 1.5rem;
  }
  .details {
    padding: 1rem 0;
  }
  .map-container {
    width: 100%;
  }
  .interest-btn {
    padding: .5rem 0;
  }
  .interest-btn button {
    width: 100%;
  }
}

/*  */
