@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway";
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

header {
  border-bottom: 1px solid #ddd;
}

nav {
  padding: .6rem 0;
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.logo {
  height: 3rem;
  margin-right: auto;
}

.nav-list {
  display: flex;
  gap: 1rem;
}

.nav-list a {
  display: flex;
  align-items: center;
}

.list-items {
  font-weight: 600;
  color: #808080;
}

.nav-btn {
  background: #3785fb;
  padding: .7rem 1rem;
  outline: none;
  border: none;
  border-radius: .3rem;
  cursor: pointer;
  font-family: 'Raleway';
  font-weight: 600;
  color: #1b437e;
}

.box{
  width:100%;
  height:816px;
  top:80px;
  gap:10px;
  padding:0px 0px 96px 0px;
  background-image:url(/Users/hp/Documents/Images/Rectangle\ 4\(1\).png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items:center;
  display:flex;
  justify-content: center;
  flex-direction: column;
  
  
  
}
.form{
  display:flex;
  flex-direction: row;
}

.search {
  background-color:#d9d9d9;
  width:875px;
  height:44.03px;
  padding:10px 19px 10px 19px;
  border-radius: 5px;

  

  
  
  

}


.search input[type="text"]::placeholder{
  color: black;
}
.search-button{
  background: transparent;
  border: none;
  outline: none;
  margin-left: -50px;
  margin-right: 10px;
}
.search-button img{
  width:27.85px;
  height:25.16px;
  object-fit:none;
}

  
.distance{
  text-align: center;
  font-size: 40px;
  color:white;
  
  
}

.container{
  background-color: #ded9d9;
  width:100%;
  height:2200px;
  padding:10px 0px 96px 0px;
  gap:10px;
  display: flex;
  flex-direction: column;
 
}
h2{
  text-align: center;
  color: #5e5b5b;
  font-family: "Raleway";
  
}

.containers{
 
  gap:10px;
  padding:50px 72px 40px 50px ;
  display: flex;
  flex-direction: row;
  width:1350px;
  
}

.container1{
  width:400px;
  height:450px;
  background-color: white;
  border-radius:16px;
  padding:64px 20px 20px 20px;
  gap:16px;
  display: flex;
  flex-direction: column;
 line-height: 25px;
}
.icon{
  display: block;
  top:950px;
  position:absolute;
  left: 200px;
  
}
h3{
  font-family: Arial, Helvetica, sans-serif;
  text-align:left;
  
}
p1{
  font-family: Arial, Helvetica, sans-serif;
  line-break: auto;
}
a{color:gray;
font-family: Arial, Helvetica, sans-serif;}
.container2{
  width:400px;
  height:450px;
  background-color: white;
  border-radius:16px;
  padding:64px 20px 20px 20px;
  gap:16px;
  display: flex;
  flex-direction: column;
  line-height: 25px;
 
}
.icon1{
  display: block;
  top:950px;
  position:absolute;
  left: 620px;
     
}
.container3{
  width:400px;
  height:450px;
  background-color: white;
  border-radius:16px;
  padding:64px 20px 20px 20px;
  gap:16px; 
   display: flex;
  flex-direction: column;
  line-height: 25px;
 
}
.icon2{
  display: block;
  top:950px;
  position:absolute;
  left: 1030px;
  
}

.center {
  display:flex;
  width:235px;
  height:41px;
  border-radius:8px;
  padding:16px 20px 16px 20px;
  gap:10px;
  background-color:#3785fb;
  font-family: Arial, Helvetica, sans-serif;
  text-align:center ;
  justify-content: center;
margin-left: 550px;
 
}


  .about{
      width:1100px;
      padding:50px 100px 40px 90px ;
      height:700px;
      gap:60px;
      text-align: justify;
      display: flex;
      flex-direction: row;
  }
  .aboutus{
      width: 500px;
      height:700px;
      display: flex;
      flex-direction:column ;
      
     
  }

  h1{
      text-align: justify;
      font-family: Arial, Helvetica, sans-serif;
  }
  .textabout{
      font-size:medium;
      color:black;
      text-align: justify;
      word-spacing: -2px;
      
      
  }
  .left{
      display:flex;
      width:190px;
      height:50px;
      border-radius:8px;
      padding:16px 20px 16px 20px;
      gap:10px;
      background-color:#3785fb;
      font-family: Arial, Helvetica, sans-serif;
      text-align:center ;
      justify-content: center;
  }

  
  .image1{
      top:1550px;
      right:100px;
      position:absolute;  
      border-radius:16px;
      width:505px;
      height:600px;
  }

  .features{
      display: flex;
      flex-direction: column;
     
      
  }

  .our{
      text-align: center;
  }

  .cards{
      display: flex;
      flex-direction: row;
      gap:10px;
      justify-content: center;
      padding:50px 60px 40px 50px ;
      width :1300px;
      height:400px;
      
  }

  .card{
  width:300px;
  height:500px;
  background-color: white;
  border-radius:16px;
  padding:34px 20px 20px 20px;
  gap:16px;
  display: flex;
  flex-direction: column;
 line-height: 25px;
 
}


.buy{
  text-align: center;
}

.find{
  display:flex;
  width:235px;
  height:41px;
  border-radius:8px;
  padding:16px 20px 16px 20px;
  gap:10px;
  background-color:#3785fb;
  font-family: Arial, Helvetica, sans-serif;
  text-align:center ;
  justify-content: center;
}

.textfind{
  color: #fff;
}

.image2{
  object-fit: cover;
 
  object-position: center;
}

 
  
  

  
  
  




/* Footer styling */

footer {
  background: #646262;
}

.footer-container {
  width: 90%;
  margin: 0 auto;
}

.social-section {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding: 2rem 0;
  border-bottom: 1px solid #9e9d9d;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-container {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem;
}

.social {
  background: #fff;
  padding: .3rem;
  border-radius: .4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icons {
  height: 1.5rem; 
}

.footer-bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 5rem 0;
}

.address-container,
.footer-links a,
form p{
  font-size: .9rem;
  font-weight: 600;
  color: #ddd;
}

.address-container p {
  padding-bottom: .6rem;
}

.address {
  width: 90%;
}

.footer-links-container {
  display: flex;
  gap: 4rem;
}

.footer-links a {
  display: block;
  padding-bottom: .6rem;
}

.footer-links a:hover {
  text-decoration: underline;
}

form p {
  padding-bottom: .2rem;
}

input {
  width: 70%;
  display: block;
  padding: .8rem 1rem;
  margin-bottom: .5rem;
  border-radius: .3rem;
  border: none;
  outline: none;
}

.submit-btn {
  padding: .5rem 1.5rem;
  border: none;
  border-radius: .3rem;
  font-size: .8rem;
  font-weight: 600;
  font-family: 'Raleway';
  background: #3785fb;
  color: #1b437e;
  cursor: pointer;
}

input::placeholder {
  font-family: 'Raleway';
  font-size: .8rem;
  font-weight: 600;
}